
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    background-color: rgb(248, 239, 228);
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  h1 {
      text-align: center;
      font-family: 'UnifrakturMaguntia', cursive;
      font-size: xxx-large;
  }

  h2 {
    font-family: 'Noticia Text', serif;
    font-style: italic;
    text-align: center;
  }

  h3 {
    font-family: 'Noticia Text', serif;
    font-weight: lighter;
    font-style: italic;
    font-size: smaller;
  }

  #index-text {
      padding: 10px;
      font-family: "Times New Roman", Times, serif;
  }

  #menu-text {
    padding: 10px;
    list-style-position: inherit;
    list-style: none;
  }

  ul {
    font-family: "Times New Roman", Times, serif;
    list-style: none;
    text-decoration: underline;
  }

  figcaption {
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
  }

  #date {
      text-align: center;
  }

  body {
      border: solid;
      border-width: thick;
      border-color: rgb(141, 93, 31);
  }

  .blog-title {
      font-size: x-large;
  }

  .blog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .blog-entry {
      padding: 10px;
      font-family: "Times New Roman", Times, serif;
  }